@model Datagraph.Models.Protocollo.Registrazione

@{
    ViewData["Title"] = "Dettagli";
}

<h1>Registrazione numero @Model.Numero</h1>

@await Html.PartialAsync("_CardRegistrazione", @Model)



<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nome</th>
      <th scope="col">Cognome</th>
    </tr>
  </thead>
  <tbody>
        @foreach(var soggetto in Model.Soggetti)
        {
            <tr>
                <td>@soggetto.Id</td>
                <td>@soggetto.Nome</td>
                <td>@soggetto.Cognome</td>
            </tr>
        }
    </tbody>
</table>


<div>
    @Html.ActionLink("Modifica", "Modifica", new { id = Model.Id }, new {@class="btn btn-info" }) 
    <a asp-action="Index" class="btn btn-info">Torna alla lista</a>
</div>
