@model IEnumerable<Datagraph.Models.Protocollo.Registrazione>

@{
    ViewData["Title"] = "Index";
}

<h1>Elenco registrazioni</h1>

<p>
    <a asp-action="Crea" class="btn btn-warning">Aggiungi Nuova registrazione</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
              @Html.DisplayNameFor(model => model.DataRegistrazione) 
           </th>
            <th>
                @Html.DisplayNameFor(model => model.Oggetto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataRegistrazione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Oggetto)
            </td>
            <td>
                @Html.ActionLink("Modifica", "Modifica", new { id=item.Id  }, new { @class= "btn btn-info"}) 
                @Html.ActionLink("Dettagli", "Dettagli", new { id=item.Id  }, new { @class= "btn btn-success"}) 
                @Html.ActionLink("Elimina", "Elimina", new { id=item.Id  }  , new { @class= "btn btn-danger"})
            </td>
        </tr>
}
    </tbody>
</table>
